body{
  background: #F0F0F0
}

#title-box{
  padding-left: 0;
  padding-right: 0;
}

#main-title{
  padding: 20px;
  background-color: #201658;
  color: #ffff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  margin-bottom: 50px;
}

#container-select{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#container-select label{
  font-size: 20px;
}

#list-players{
  text-align: center;
}


.team{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.players{
  padding-left: 0;
}

.players li{
  font-family: "Roboto", sans-serif;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  color: white;
}

ul {
  list-style: none;
}

.stats-list{
  display: flex;
  flex-direction: column;
}


#container-select{
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  margin-bottom: 40px;
}


select{
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 13px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  appearance: button;
  outline: none;
}